@import url(http://fonts.googleapis.com/css?family=Raleway:100,900,400,200);
@import url(http://fonts.googleapis.com/css?family=Rammetto+One);

$color: #F6F5F5;
$bg1: #1CD8D2;
$bg2: #93EDC7;
$bg1: #16222A;
$bg2: #2E1C35;

$bs: 20px;

body {
    padding-top: $bs*5;
    font-family: 'Raleway', arial, sans-serif;
    text-align: center;
    line-height: $bs*1.5;
    background: -webkit-linear-gradient(90deg, $bg1 10%, $bg2 90%); /* Chrome 10+, Saf5.1+ */
    background:    -moz-linear-gradient(90deg, $bg1 10%, $bg2 90%); /* FF3.6+ */
    background:     -ms-linear-gradient(90deg, $bg1 10%, $bg2 90%); /* IE10 */
    background:      -o-linear-gradient(90deg, $bg1 10%, $bg2 90%); /* Opera 11.10+ */
    background:         linear-gradient(90deg, $bg1 10%, $bg2 90%); /* W3C */
}


.container {
    max-width: 960px;
    margin: 0 auto;
}

h1 {
    font-size: 2.5em;
    font-weight: 100;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $color;
}

p {
    font-weight: 100;
    color: $color;
    max-width: 650px;
    margin: 0 auto;
}

[ks-gallery] {
    padding-top: $bs*4;
    line-height: 6px;
    // display: none;
}

a[ks-img],
a[ks-video],
a[ks-iframe],
a[ks-html] {
    display: inline-block;
    text-decoration: none;
    padding: 0;
    margin: 0;
    width: 200px;
    height: 150px;
    overflow: hidden;

    img {
        transition: all 1s;
        transform: scale(1);
    }

    &:hover img {
        transform: scale(1.1);
        transition: all 1s;
    }
}